#### Import Modules

In [10]:
import pymysql
pymysql.install_as_MySQLdb()
import MySQLdb
from pprint import pprint

In [11]:
# Connect to the database
conn = MySQLdb.connect(host="localhost", user="root", passwd="admin")
cur = conn.cursor()

In [12]:
# Create funtion to show all rows in cursor
def print_result(cursor):
    for row in cursor:
        pprint(row)

In [4]:
# Create sales_db database
cur.execute("CREATE DATABASE IF NOT EXISTS sales_db")

1

In [13]:
# Use sales_db
cur.execute("USE sales_db")

0

In [11]:
# Create total_sales_by_source_state table
cur.execute("CREATE TABLE IF NOT EXISTS sales_db.total_sales_by_source_state (source varchar(100), state varchar(100), total_sum_amount double,\
            processed_at datetime, batch_id int(11))")

0

In [14]:
# Show all tables
cur.execute("SHOW TABLES")
print_result(cur)

('total_sales_by_source_state',)

In [17]:
# Select all rows from total_sales_by_source_state table
cur.execute("SELECT * FROM total_sales_by_source_state")
rows = cur.fetchall()
print_result(rows)

('Organic',
 'AL',
 300.13618838485365,
 datetime.datetime(2023, 10, 5, 5, 34, 15),
 1)
('Facebook',
 'MN',
 301.9606379872728,
 datetime.datetime(2023, 10, 5, 5, 34, 15),
 1)
('Organic',
 'NC',
 181.10583927789372,
 datetime.datetime(2023, 10, 5, 5, 34, 30),
 2)
('Organic',
 'NY',
 1149.4181403474186,
 datetime.datetime(2023, 10, 5, 5, 34, 30),
 2)
('Organic',
 'NY',
 1243.2081255554367,
 datetime.datetime(2023, 10, 5, 5, 34, 45),
 3)
('Facebook',
 'TX',
 427.01208212095446,
 datetime.datetime(2023, 10, 5, 5, 34, 45),
 3)
('Google',
 'MT',
 720.5130719952779,
 datetime.datetime(2023, 10, 5, 5, 34, 45),
 3)
('Facebook', 'TX', 765.4661679441326, datetime.datetime(2023, 10, 5, 5, 35), 4)
('Google', 'OH', 866.4324013239502, datetime.datetime(2023, 10, 5, 5, 35), 4)
('Facebook',
 'CA',
 265.27433912480444,
 datetime.datetime(2023, 10, 5, 5, 35, 15),
 5)
('Google',
 'MI',
 279.02029249976505,
 datetime.datetime(2023, 10, 5, 5, 35, 15),
 5)
('Google',
 'OH',
 1551.3359162695754,
 datetime.datetime(2023, 10, 5, 5, 35, 15),
 5)
('Google',
 'LA',
 199.85579541108496,
 datetime.datetime(2023, 10, 5, 5, 35, 30),
 6)
('Google',
 'MI',
 367.4599975635169,
 datetime.datetime(2023, 10, 5, 5, 35, 30),
 6)
('Google',
 'IL',
 1146.4334629763896,
 datetime.datetime(2023, 10, 5, 5, 35, 30),
 6)
('Google',
 'LA',
 1107.5196723284587,
 datetime.datetime(2023, 10, 5, 5, 35, 45),
 7)
('Twitter',
 'CA',
 372.30778653994867,
 datetime.datetime(2023, 10, 5, 5, 35, 45),
 7)
('Google', 'ID', 1269.8706210813025, datetime.datetime(2023, 10, 5, 5, 36), 8)
('Twitter', 'CA', 426.9838784779261, datetime.datetime(2023, 10, 5, 5, 36), 8)
('Organic', 'PA', 151.5467930028837, datetime.datetime(2023, 10, 5, 5, 36), 8)
('Google',
 'TN',
 141.99123284583123,
 datetime.datetime(2023, 10, 5, 5, 36, 15),
 9)
('Facebook',
 'PA',
 129.50942306492706,
 datetime.datetime(2023, 10, 5, 5, 36, 15),
 9)
('Google',
 'MO',
 234.48599564007924,
 datetime.datetime(2023, 10, 5, 5, 36, 15),
 9)
('Affiliate',
 'OR',
 147.8635093102013,
 datetime.datetime(2023, 10, 5, 5, 36, 15),
 9)
('Organic',
 'PA',
 479.87812202625275,
 datetime.datetime(2023, 10, 5, 5, 36, 15),
 9)
('Organic',
 'GA',
 312.3715255937827,
 datetime.datetime(2023, 10, 5, 5, 36, 15),
 9)
('Affiliate',
 'OH',
 138.44810260182928,
 datetime.datetime(2023, 10, 5, 5, 36, 30),
 10)
('Affiliate',
 'OR',
 488.1040624937267,
 datetime.datetime(2023, 10, 5, 5, 36, 30),
 10)
('Organic',
 'IA',
 869.5092056746873,
 datetime.datetime(2023, 10, 5, 5, 36, 30),
 10)
('Affiliate',
 'OH',
 770.161504639741,
 datetime.datetime(2023, 10, 5, 5, 36, 45),
 11)
('Facebook',
 'AK',
 168.45890644058906,
 datetime.datetime(2023, 10, 5, 5, 36, 45),
 11)
('Organic',
 'MN',
 549.6080947669693,
 datetime.datetime(2023, 10, 5, 5, 36, 45),
 11)
('Affiliate',
 'TX',
 347.5901921444188,
 datetime.datetime(2023, 10, 5, 5, 37),
 12)
('Facebook', 'AK', 793.6632343978558, datetime.datetime(2023, 10, 5, 5, 37), 12)
('Twitter', 'TX', 327.5075085556673, datetime.datetime(2023, 10, 5, 5, 37), 12)
('Facebook',
 'TN',
 948.3886959324186,
 datetime.datetime(2023, 10, 5, 5, 37, 15),
 13)
('Affiliate',
 'IL',
 62.398478876559246,
 datetime.datetime(2023, 10, 5, 5, 37, 15),
 13)
('Twitter',
 'TX',
 573.8915033405327,
 datetime.datetime(2023, 10, 5, 5, 37, 15),
 13)
('Affiliate',
 'IL',
 1197.1345108757864,
 datetime.datetime(2023, 10, 5, 5, 37, 31),
 14)
('Organic',
 'SD',
 492.82435675168006,
 datetime.datetime(2023, 10, 5, 5, 37, 47),
 15)
('Affiliate',
 'IL',
 1314.9709768062385,
 datetime.datetime(2023, 10, 5, 5, 37, 47),
 15)
('Google',
 'GA',
 292.27317927554407,
 datetime.datetime(2023, 10, 5, 5, 37, 47),
 15)
('Twitter',
 'TX',
 797.0057206276239,
 datetime.datetime(2023, 10, 5, 5, 37, 47),
 15)
('Organic',
 'TX',
 647.2727427906675,
 datetime.datetime(2023, 10, 5, 5, 38, 1),
 16)
('Google',
 'GA',
 1003.4188193505762,
 datetime.datetime(2023, 10, 5, 5, 38, 1),
 16)
('Organic',
 'TX',
 948.8584324533795,
 datetime.datetime(2023, 10, 5, 5, 38, 16),
 17)
('Organic',
 'WY',
 1009.382705152663,
 datetime.datetime(2023, 10, 5, 5, 38, 16),
 17)
('Facebook',
 'MN',
 746.5910592255273,
 datetime.datetime(2023, 10, 5, 5, 38, 32),
 18)
('Affiliate',
 'MI',
 638.583008737789,
 datetime.datetime(2023, 10, 5, 5, 38, 32),
 18)
('Organic',
 'WY',
 1188.2036376957612,
 datetime.datetime(2023, 10, 5, 5, 38, 32),
 18)